<kendo-grid [data]="data"
            [pageSize]="pageSize"
            [skip]="skip"
            [sortable]="false"
            [pageable]="true"
            [scrollable]="'none'"
            (dataStateChange)="dataStateChange($event)">
  <kendo-grid-column field="id"
                     title="ID"></kendo-grid-column>
  <kendo-grid-column field="customerName"
                     title="Customer Name"></kendo-grid-column>
  <kendo-grid-column field="address"
                     title="Address"></kendo-grid-column>
  <kendo-grid-column field="price"
                     title="Price"
                     format="{0:c}"></kendo-grid-column>
  <kendo-grid-command-column width="66">
    <ng-template kendoGridCellTemplate>
      <button kendoGridEditCommand
              class="k-primary">Edit</button>
    </ng-template>
  </kendo-grid-command-column>
  <ng-template kendoGridDetailTemplate
               let-dataItem>
    <section>
      <p>
        <strong>Customer Name:</strong> {{dataItem.customerName}}</p>
      <p>
        <strong>Address:</strong> {{dataItem.address}}</p>
      <p>
        <strong>Price:</strong> {{dataItem.price | currency}}</p>
    </section>
  </ng-template>
</kendo-grid>
